---
---

@import "{{ site.theme }}";
#banner {
  background: #e5e5e5;
  border: 1px solid #d0d0d0;
}
body {
  background: url(../paper_fibers.png);
  font: 14px/22px 'Verdana';  
}
section {
  width: 645px;
}
footer {
  width: 100%;
  position: initial;
}
nav {
  top: 190px;
}
nav ul {
  font-size: 12px;
}
