---
---

@import "{{ site.theme }}";
#banner {
  background: #e5e5e5;
  border: 1px solid #d0d0d0;
}
body {
  background: url(https://images.pexels.com/photos/2680270/pexels-photo-2680270.jpeg?cs=srgb&dl=pexels-mudassir-ali-2680270.jpg&fm=jpg)
}
